<div id="new-question-header" class="row">
	<h1>New Question</h1>
</div>
<div class="row">
	<%= form_for @question do |f| %>
		<% if @question.errors.any? %>
    	<div id="error_explanation">
      	<h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
				<ul>
      		<% @question.errors.full_messages.each do |question| %>
        		<li><%= question %></li>
     			<% end %>
      	</ul>
    	</div>
  	<% end %>
		<div class="col-md-7">
			<div id="new-question-box" class="main-window">
				<div class="form-group">
					<%= f.label :title %><br />
					<%= f.text_field :title, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :body %><br />
					<%= f.text_area :body, class: "form-control", rows: "10" %>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-1">
			<div id="question-submit-box" class="main-window">
				<div class="form-group">
					<%= f.label :topic %>
					<%= f.select(:topic, QuestionsHelper::TOPICS, class: "form-control") %>
				</div>
				<div class="row">
					<div class="form-group">
						<%= f.label :difficulty %>
						<%= f.select(:difficulty, QuestionsHelper::DIFFICULTY_LEVEL, class: "form-control") %>
					</div>
				</div>
				<div class="row">
					<%= f.hidden_field :user_id, value: current_user.id %>
					<div class="action">
						<%= f.submit class: "btn btn-default" %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
