<div id="show-question-header" class="row" data-id="<%= @question.id %>">
	<h1>Question #<%= @question.id %></h1>
</div>
<div class="row">
	<% if !@question.answered %>
		<div id="unanswered-pill" class="col-md-4 col-md-offset-4">Still Needs An Answer</div> 
	<% else %>
		<div id="answered-pill" class="col-md-4 col-md-offset-4">Question has been answered</div>
	<% end %>
</div>
<div id="question-window">
	<h3><%= @question.title %></h3>
	<%= @question.body %><br /><br />
</div>
<% if @question.user_id != current_user.id %>
	<div><%= link_to 'Answer this Question', answers_path(question_id: @question.id), method: :post, class: "btn", id: "send-answer-request-btn" %></div>
<% else %>
	<div class="container-fluid">
		<span><%= link_to 'Edit your Question', root_path, class: "btn" %></span> <!--Not functional yet -->
		<span><%= link_to 'Delete Question', question_path(@question), method: :delete, class: "btn" %></span> <!-- Not operational yet either -->
	</div>
<% end %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>Pending Answers</h2>
		<table id="pending-answer-table" class="table">
			<thead>
				<tr>
					<th>User</th>
					<th>Rating</th>
					<th>Minutes Ago</th>
					<th>Option</th>
				</tr>
			</thead>
			<tbody>
				<%= render @answers %>
			</tbody>
		</table>
	</div>
</div>
