<div id="show-answer-header">
	<h1>Answer #<%= @answer.id %></h1>
</div>
<div id="answer-instructions-window">
	<ul>
		<li>
			Call the user BEFORE you begin the timer.  This ensures that you are not paying a user who is not ready to give you an answer.  
		</li>
		<li>
			You will be billed a flat rate for every 10 seconds the timer is running
		</li>
		<li>
			If you navigate away from this page, go to "Your Answers" or "Your Questions" (depending on whether you're the asker or the answerer) and find the question again.
		</li>
		<li>
			For the sake of others, please terminate/inactivate your question after it has been satisfactorily answered.
		</li>
</div>

<div class="row">
	<div id="call-window" class="col-md-4 col-md-offset-4">
		<h3 class="Timer">
			0 seconds
		</h3>
		<div id="activity" data-id="<%= @answer.id%>">
			<% if @answer.active %>
				<span style="background-color:green;">Active</span>
			<% else %>
				<span style="background-color:red;">Inactive</span>
			<% end %>
		</div>
		<% if @answer.question.user_id == current_user.id %>
			<div id="timer_btn" data-id="<%= @answer.active %>">
				<div id="start_timer">
					<%= link_to "Start Timer", start_path(answer_id: @answer.id), remote: true, class: "btn btn-success" %> 
				</div>
				<div id="end_timer">
					<%= link_to "End Timer", end_path(answer_id: @answer.id), remote: true, class: "btn btn-danger" %>
				</div>
			</div>
			<div id="terminator">
				<%= button_to "Terminate Question", question_path(@answer.question), method: :delete %>
			</div>
		<% end %>
	</div>
</div>

<% if @answer.question.user_id == current_user.id %>
			<div id="call-btn">
				<%= link_to "<h3>Call #{@answer.user.username}</h3>".html_safe, "skype:#{@answer.user.skype_username}?call", class: "btn btn-lg" %>
			</div>
		<% end %>



